@keyframes rotatehueverylight {
    0% {
        filter: hue-rotate(-20deg) saturate(1.1);
    }
    100% {
        filter: hue-rotate(20deg) saturate(1.2);
    }
}

@keyframes slide {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position : 0 300px;
    }
  }

@font-face {
    font-family: DisplayFont;
    src: url("assets/VT323-Regular.ttf");
    font-weight: normal;
}

body, div {
    margin: 0;
}

#fontDiv {
    font-family: "DisplayFont";
    position: absolute;
    visibility: hidden;
}

#thegame {
    width: 875px;
    height: 750px;

    animation: rotatehueverylight 1s infinite alternate, slide 4s linear infinite;

    border: 11px solid black;
    border-image: url("assets/black1.gif");
    border-color: #222;
    border-image-slice: 8;
    border-image-repeat: repeat;

    background-image: url("assets/bg4.gif");
}